<html>
    <body>
      <div class="container">
<header class="header">
  <div class="header_content d-flex flex-row align-items-center justify-content-start">
      
      <nav class="main_nav">
          <table>
              <tr>
        
        <ul class="d-flex flex-row align-items-start justify-content-start">
            <th>
                <div class="logo"><a href="#">Dream Ride Flight</a></div>
                <!-- <p>**********Since 2000**********</p> -->
          </th>
          <th>
            <li><a>&nbsp;&nbsp;&nbsp;</a></li>
          </th>
          <th>
          <li><a class="nav-link" href="home">Home</a></li>
    </th>
  
          <th>
          <li  class="active"><a class="nav-link" href="about">About us</a></li>
        </th>
        <th>
          <li><a class="nav-link" href="bookings">Bookings</a></li>
        </th>
      <th>
          <li><a class="nav-link" href="blog">Blog</a></li>
        </th>
      <th>
          <li><a class="nav-link" href="contact">Contact</a></li>
        </th>
    </ul>
    
      </tr>
    </table>
      </nav>
   
    
      <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
</div>
</header>
<div class="background_image" style="background-image:url(assets/fly.png)"></div>

<div class="home_container">
					
    <div class="container">
                
  <div class="row">
                  
                    
  <div class="home_content text-center">
                      
  <div class="home_title">More about us.....</div>
                      
                  
    </div>
                  </div>
                
              
  </div>
 

  
  <div class="about">
      <div class="container">
        <div class="row">
  
          
          
          <div class="col-lg-6">
          
    <div class="about_content">
              <div class="about_title"><h2>***Dream Ride Flight / 5years*** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;***of excellence***</h2></div>
              
  <div class="about_text">
  <p>
  We been operating for 5 years , we have recieved testimonies of weddings being on top and making the couples day, We have recived complements</p>
  <p> on our affordable prices and also the best comfort your can ever wish for, Every time one our cars come back for rental we make it a point</p>
  <p> that its serviced and also before we rent it out we make sure its in the best shape for our customers
  </p>					
    </div>
            </div>
          </div>
  
        </div>
        </div>
        </div>
        
</div>
</div>

</body>
<footer class="footer">
  <div class="footer_content">
    <div class="container">
      <div class="row">
     
      <div class="row footer_row">
          <table>
              <tr>
                <th>&nbsp;&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>
        <div class="col-lg-6">
         
        </div>
      </th>
      <th>&nbsp;&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
      <th>
        <div class="col-lg-6">
         </div>
      </th>
      </tr>
    </table>
      </div>
    </div>

  </div>
</div>
  <div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
</div>

</footer>

</html>
<router-outlet></router-outlet>