<!DOCTYPE html>
<html lang="en">
  <body class="center">
		<header class="header">
				<div class="header_content d-flex flex-row align-items-center justify-content-start">
					
					<nav class="main_nav">
						<table>
							<tr>
					  
					  <ul class="d-flex flex-row align-items-start justify-content-start">
						  <th>
							  <br>
							  <!-- <div class="logo"><a href="#">Dream Ride Flight</a></div> -->
							  <!-- <p>**********Since 2000**********</p> -->
						</th>
						<th>
						  <li><a>&nbsp;&nbsp;&nbsp;</a></li>
						</th>
						<th>
						<li><a class="nav-link" href="home">Home</a></li>
				  </th>
				
						<th>
						<li><a class="nav-link" href="about">About us</a></li>
					  </th>
					  <th>
						<li><a class="nav-link" href="bookings">Bookings</a></li>
					  </th>
					<th>
						<li><a class="nav-link" href="blog">Blog</a></li>
					  </th>
					<th>
						<li class="active"><a class="nav-link" href="contact">Contact</a></li>
					  </th>
				  </ul>
				  
					</tr>
				  </table>
					</nav>
				 
				  
					<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
			  </div>
			  </header>
      <div class="background_image" style="background-image:url(assets/fly.png)"></div>		  
<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_logo_container text-center">
							<div class="footer_logo">
								<a href="#"></a>
								<div>Dream Ride Flight</div>
								<div>**********since 2000**********</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row footer_row">
					
					<!-- Address -->
					<div class="col-lg-3">
						<div class="footer_title">Our Address</div>
						<div class="footer_list">
							<ul>
								<li>Beach Str. 345</li>
								<li>675 Pretoria SA</li>
							</ul>
						</div>
					</div>

					<!-- Reservations -->
					<div class="col-lg-3">
						<div class="footer_title">Reservations</div>
						<div class="footer_list">
							<ul>
								<li>Tel: 0667 889</li>
								<li>Fax; 8756 889</li>
								<li>fly@dreamride.com</li>
							</ul>
						</div>
					</div>

				
					<div class="row">
						<div class="certificates d-flex flex-row align-items-start justify-content-lg-between justify-content-start flex-lg-nowrap flex-wrap">
							<div class="cert"><img src="assets/i1.jpg" alt=""></div>
							<div class="cert"><img src="assets/i2.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<br>
		<div class="copyright">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </div>
	</footer>
  </body>
</html>
