<html>
    <body>
      <div class="container">
<header class="header">
  <div class="header_content d-flex flex-row align-items-center justify-content-start">
      
      <nav class="main_nav">
          <table>
              <tr>
        
        <ul class="d-flex flex-row align-items-start justify-content-start">
            <th>
                <div class="logo"><a href="#">Dream Ride Flight</a></div>
                <!-- <p>**********Since 2000**********</p> -->
          </th>
          <th>
            <li><a>&nbsp;&nbsp;&nbsp;</a></li>
          </th>
          <th>
          <li><a class="nav-link" href="home">Home</a></li>
    </th>
  
          <th>
          <li><a class="nav-link" href="about">About us</a></li>
        </th>
        <th>
          <li><a class="nav-link" href="bookings">Bookings</a></li>
        </th>
      <th>
          <li class="active"><a class="nav-link" href="blog">Blog</a></li>
        </th>
      <th>
          <li><a class="nav-link" href="contact">Contact</a></li>
        </th>
    </ul>
    
      </tr>
    </table>
      </nav>
   
    
      <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
</div>
</header>
<div class="background_image" style="background-image:url(assets/fly.png)"></div>

<div class="home_container">
					
    <div class="container">
                
  <div class="row">
                  
                    
  <div class="home_content text-center">
                      
  <div class="home_title">Our Blog.......</div>
                      
                  
    </div>
                  </div>
                
              
  </div>
            
            
</div>
</div>
	<!-- Blog -->

	<div class="blog">
      <div class="container">
        <div class="row">
            <table><tr><th> 
          <!-- Blog Posts -->
          <div class="col-lg-9">
            <div class="blog_posts">

             
              
              <div class="blog_post">
                
                    <div class="blog_post_title"><a href="#">Top dream destinations</a></div>

                <div class="blog_post_image">
                  <img src="assets/d.jpg" alt="">
                  <div class="blog_post_date"><a href="#">Oct 20, 2018</a></div>
                </div>
                
                <div class="blog_post_content">
                  <div class="blog_post_info">
                    <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_4.png" alt="">
                        <a href="#">News</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_5.png" alt="">
                        <a href="#">21 Likes</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_6.png" alt="">
                        <a href="#">602 views</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_7.png" alt="">
                        <a href="#">1 min</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_8.png" alt="">
                        <a href="#">3 comments</a>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="blog_post_text">
                    <p>Vivamus auctor mi eget odio feugiat, quis aliquet</p>
                    <p> velit ornare. Integer egestas sit amet neque sed</p>
                    
                  </div> -->
                  <!-- <div class="button blog_post_button"><a href="#">Read More</a></div> -->
                </div>
              
              </div>
 
              <!-- Blog Post -->
              <div class="blog_post">
               
                <div class="blog_post_content">
                    
                  <div class="blog_post_title"><a href="#">How to book your Flight</a></div>
                  <div class="blog_post_image">
                      <img src="assets/p.jpg" alt="">
                    
                    </div>
                    
                  <div class="blog_post_info">
                    <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                      <li class="d-flex flex-row align-items-center justify-content-start">
                      <img src="assets/icon_4.png" alt="">
                        <a href="#">News</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_5.png" alt="">
                        <a href="#">21 Likes</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_6.png" alt="">
                        <a href="#">602 views</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_7.png" alt="">
                        <a href="#">1 min</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_8.png" alt="">
                        <a href="#">3 comments</a>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="blog_post_text">
                    <p>Vivamus auctor mi eget odio feugiat, quis aliquet velit ornare. Integer</p>
                    <p> egestas sit amet neque sed elementum. Fusce ut turpis felis. Etiam pretium</p>
                    <p> pharetra augue, ac porttitor dolor consequat eget. Cras tempor suscipit enim</p>
                    <p> vehicula ultrices. Mauris sed orci blandit.</p>
                  </div> -->
                  <!-- <div class="button blog_post_button"><a href="#">Read More</a></div> -->
                
            
        </div>
              </div>
           
  
              <!-- Blog Post -->
              <div class="blog_post">
               
                <div class="blog_post_content">
                  
                  <div class="blog_post_title"><a href="#">Comfort is key</a></div>
                  <div class="blog_post_image">
                      <img src="assets/v.jpg" alt="">

                    </div>
                  <div class="blog_post_info">
                    
                    <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                        <li class="d-flex flex-row align-items-center justify-content-start">
                            <img src="assets/icon_4.png" alt="">
                              <a href="#">News</a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                              <img src="assets/icon_5.png" alt="">
                              <a href="#">21 Likes</a>
                            </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_6.png" alt="">
                        <a href="#">602 views</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_7.png" alt="">
                        <a href="#">1 min</a>
                      </li>
                      <li class="d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/icon_8.png" alt="">
                        <a href="#">3 comments</a>
                      </li>
                    </ul>
                  </div>
                  <div class="blog_post_text">
                  </div>
                  <!-- <div class="button blog_post_button"><a href="#">Read More</a></div> -->
                </div>
              </div>
  
            </div>
          </div>
        </th><th>
  
          <!-- Sidebar -->
          <div class="col-lg-3">
            <div class="sidebar">
              
              <!-- Search -->
              <div class="sidebar_search">
                <form action="#" class="sidebar_search_form" id="sidebar_saerch_form">
                  <input type="text" class="sidebar_search_input" placeholder="Keyword" required="required">
                  <button class="sidebar_search_button">Search</button>
                </form>
              </div>
  
              <!-- Recent Posts -->
              
              <div class="recent_posts">
                <div class="sidebar_title"><h4>Recent Posts</h4></div>
                <div class="sidebar_list">
                  <ul>
                    <li><a href="#">Featured Product</a></li>
                    <li><a href="#">Standard Post</a></li>
                    <li><a href="#">Gallery Post</a></li>
                    <li><a href="#">Video Post</a></li>
                    <li><a href="#">Audio Post</a></li>
                  </ul>
                </div>
              </div>
            
              <!-- Categories -->
              <div class="categories">
                <div class="sidebar_title"><h4>Categories</h4></div>
                <div class="sidebar_list">
                  <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Flight</a></li>
                    <li><a href="#">Vacation</a></li>
                  </ul>
                </div>
              </div>
           
              <!-- Tags -->
              <div class="tags">
                <div class="sidebar_title"><h4>Tags</h4></div>
                <div class="tags_container">
                  <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                    <li><a href="#">news</a></li>
                    <li><a href="#">flight</a></li>
                    <li><a href="#">vacation</a></li>
                    <li><a href="#">booking</a></li>
                    <li><a href="#">video</a></li>
                    <li><a href="#">clients</a></li>
                    <li><a href="#">reviews</a></li>
                    <li><a href="#">destinations</a></li>
                  </ul>
                </div>
              </div>
            
              <!-- Special Offer -->
              <div class="special_offer">
                <div class="background_image" style="background-image:url(assets/special_offer.jpg)"></div>
                <div class="special_offer_container text-center">
                  <div class="special_offer_title">Special Offer</div>
                  <div class="special_offer_subtitle">Business Flight</div>
                  <div class="button special_offer_button"><a href="#">Book now</a></div>
                </div>
              </div>
              </div>
              </div>
            </th>
          </tr>
          </table>
            </div>
          </div>
  
        </div>
     
</body>
<footer class="footer">
  <div class="footer_content">
    <div class="container">
      <div class="row">
     
      <div class="row footer_row">
          <table>
              <tr>
                <th>&nbsp;&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>
        <div class="col-lg-6">
         
        </div>
      </th>
      <th>&nbsp;&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
      <th>
        <div class="col-lg-6">
         </div>
      </th>
      </tr>
    </table>
      </div>
    </div>


  </div>
</div>

  <div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
</div>

</footer>

</html>
<router-outlet></router-outlet>